#aboutPhotoContainer {
    width: 40%;
    min-width: 300px;
    /* Set the desired width */
    /* Set the desired height */
    overflow: hidden;
    /* Hide any overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutPhoto {
    width: auto;
    height: 100%;
    object-fit: cover;
}

#aboutDescription {
    width: 60%;
    min-width: 500px;
    display: flex;
    /* Use Flexbox */
    flex-direction: column;
    /* Stack items vertically */
    justify-content: center;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
    text-align: center;
}

#education>h2 {
    margin: -2rem 4rem 1rem 4rem;
}

#aboutDescription p {
    padding: 0rem 4rem;
}

#aboutDescription #resume-download {

    border: solid black 2px;
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #21D0B3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s;
}

#resume-download b {
    color: white;
    white-space: nowrap;
    margin-right: 10px;
    font-size: 18px;
    height: 100%;
    align-items: center;
}


#resume-download:hover {
    background-color: #40d9c0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    /* Change cursor to pointer */
    transform: scale(1.05);
    /* Slightly increase size */
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh
}

#about h1 {
    font-size: 4rem;
    white-space: nowrap;
}

@media (max-width: 1024px) {

    #aboutPhotoContainer {
        height: 374px;
        min-width: auto;
        width: 80%;
    }

    #aboutDescription {
        margin-top: -300px;
    }


}

@media (max-width: 500px) {
    #aboutDescription {
        width: 100%;
        /* Take full width on smaller screens */
        min-width: auto;
        /* Remove min-width restriction */
    }


    #about h1 {
        font-size: 12.8vw;
        /* Adjust font size for smaller screens */
    }
}