#experience {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#experience h1 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin: 2rem 0;
    color: var(--text-color);
}

#experience .work-activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 90vw;
    height: 600px; */
    /* overflow-x: auto;
    overflow-y: hidden; */
    gap: 1rem;
}

@media (max-width: 720px) {

    /* #experience .work-activities {
        flex-direction: column;
    }*/

    #experience .card {
        margin-inline: 0;
        transform: scale(0.8);
    }
}