/* Navbar.css */
.navbar {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    /* full width minus 1rem margin on both sides */
    display: flex;
    border-radius: 1rem;
    background-color: var(--navbar-background);
    z-index: 10;
}

.nav-links li.menuButton,
.nav-links li.name {
    display: none;
}

@media (max-width: 1024px) {
    .nav-links li.hideOnMobile {
        display: none;
    }

    .nav-links li.name {
        display: inline;
    }

    /* .nav-links li.menuButton {
        display: inline;
    } */
}

.navbar ul {
    list-style: none;
    display: flex;
    padding-left: 0rem;
}

.abc {
    color: var(--navbar-text);
    text-decoration: none;
    padding: 0rem 0rem 0.5rem 0rem;
    /* margin: 1rem; */
    font-size: 1.5rem;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
    margin: 0rem 2rem;
    transition: opacity 0.2s linear, border-bottom-color 0.2s linear;
}

.ab {
    color: var(--navbar-text);
    text-decoration: none;
    padding: 0rem 0rem 0.5rem 0rem;
    /* margin: 1rem; */
    font-size: 1.5rem;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
    margin: 0rem 2rem;
}

.nav-links {
    justify-content: left;
    margin-top: 1rem;
    margin-left: 0rem;
    /* Default */
    margin-bottom: 0rem;
}

.nav-links li.hideOnMobile {
    transition: opacity 3s ease, border-bottom-color 3s ease;
}

.abc:hover,
.abc.active {
    opacity: 1;
    border-bottom-color: var(--navbar-text);
}



.nav {
    width: 75%;
}

.contact {
    width: 25%;
}

.nav-contact-links {
    justify-content: right;
    margin-right: 1rem;
}

.nav-contact-links li a {
    margin: 1rem;
}

.icon-link a {
    color: var(--navbar-text);
    transition: color 0.2s linear;
}

.icon-link a:hover {
    color: var(--teal-accent);
}