.qws {
    padding: 0.5rem;
    display: flex;
    /* Changed from grid to flex */
    gap: 2%;
    /* This will create space between the boxes */
}

.course-box {
    /* border: solid black 1px; */
    border-radius: 1rem;
    padding: 0.3rem;
    overflow: hidden;
    flex: 1;
    /* Allows boxes to grow equally */
    box-sizing: border-box;
    display: flex;
    /* Ensure the content inside is also flexible */
    flex-direction: column;
    /* Allows stacking of elements vertically */
    max-height: calc(6 * 2.7rem + 0.3rem);
    overflow: hidden;

}

.course-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 0;
    /* Allows the list to take the available space */
    display: grid;
    grid-template-rows: repeat(6, 2.4rem);
    /* Simplified this */
    gap: 0.3rem;


}

.course-box li {
    background-color: #999;
    text-align: center;
    border-radius: 0.5rem;
    transition: transform 1s ease, background-color 1s ease;
    display: flex;
    overflow: hidden;
}

.course-box li a {
    flex: 1;
    justify-content: center;
    display: flex;
    font-size: 1vw;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
}

.course-box li:hover,
.course-box li.active {
    transform: scale(1.03);
    background-color: var(--active-color) !important;
}

.course-box li.current {
    background-color: var(--current-color);
}

.course-box li.future {
    background-color: var(--future-color);
}

.course-box li.tested {
    background-color: var(--tested-color);
}

.course-box li.london {
    background-color: var(--london-color);
}

.course-box li.ta {
    background-color: var(--ta-color);
}